{% load static %}

<script type="text/javascript" src="{% static 'js/jQuery/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jQuery/toast.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/bootstrap/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/chartjs/chart.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/datatable/pdfmake.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/vfs_fonts.js' %}"></script>

<script type="text/javascript" src="{% static 'js/datatable/jquery.dataTables.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/dataTables.bootstrap4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/buttons.flash.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/datatable/buttons.print.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/rd/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rd/login.js' %}"></script>

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
});
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Nommenclatures', 'Formula', 'Effect', 'Product', 'Substance', 'Excipient'],
        datasets: [{
            label: '# of Sales',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
