{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="pt-3 pb-2 mb-3 border-bottom">
            <ul class="nav nav-tabs" id="module-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-dashboard" data-toggle="tab" href="#dashboard-tab" role="tab"
                       aria-controls="dashboard" aria-selected="true">
                        Dashboard
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="module-tab-content">
                <div class="tab-pane fade show active" id="dashboard-tab">
                    <div class="pt-3 pb-2 mb-3 border-bottom">
                        <nav class="navbar">
                            <div class="navbar-left">
                                <h3>Dashboard</h3>
                            </div>
                            <div class="navbar-right">
                                <div class="btn-group" role="group" aria-label="Tools buttons">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export
                                    </button>
                                </div>
                                <div id="dashboard-datatable-toolbar" class="btn-group" role="group"
                                     aria-label="dashboard buttons"></div>
                            </div>
                        </nav>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <script>
            onload = () => {
                $('#login-modal').modal()
            }
        </script>
    {% endif %}
{% endblock %}
